<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" href="css/footer.css">
</head>

<body>
    <footer>
        <div class="footer-logo">
            <a href="#"> <img src="img/Logo.png" alt="logo"></a>
        </div>
        <div class="footer__iconos">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="footer__secciones">
            <div class="footer-columna">
                <h3>SECCIONES</h3>
                <ul>
                    <li><a href="#"> Favoritos </a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </div>
            <div class="footer-columna">
                <h3>NEWSLETTER</h3>
                <p>Suscríbase a nuestro boletín para recibir las últimas noticias en su bandeja de entrada.</p>
                <input type="email" placeholder="Ingrese su correo electrónico">
                <button>Enviar</button>
            </div>
            <div class="footer-columna">
                <h3>ACERCA DE</h3>
                <ul>
                    <li><a href="#">Informacion</a></li>
                    <li><a href="#">Pareguntas frecientes</a></li>
                    <li><a href="#">consultas@e-retroworld.com</a></li>
                </ul>
            </div>
            <div class="footer-columna">
                <h3>MEDIOS DE PAGO</h3>
                <div class="footer__box-iconos-de-pago">
                <div class="footer__iconos-de-pago">
                    <a href=""><img src="/img/americanexpress.png" alt="american-express"></a>
                    <a href=""><img src="/img/mastercard.png" alt="mastercard"></a>
                    <a href=""><img src="/img/mercadopago.png" alt="mercadopago"></a>
                    <a href=""><img src="/img/pagofacil.png" alt="pagofacil"></a>
                    <a href=""><img src="/img/visa.png" alt="visa"></a>
                    <a href=""><img src="/img/rapipago.png" alt="rapipago"></a>
                </div>
            </div>
            </div>
        </div>
        <div class="footer__ultimo">
            <div class="links">
                <a href="#">Términos y condiciones</a>
                <span>|</span>
                <a href="#">Política de privacidad</a>
            </div>
            <p>&copy; 2023 - E-retroworld - Todos los derechos reservados</p>
        </div>
    </footer>
</body>

</html>