<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/94269268ef.js" crossorigin="anonymous"></script>
    <title>Header</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <p>Bienvenido al Header</p>
  
      <header class="header">
       <div class="header__top">
         <div class="header__top-box">
              <div class="header__top--line"> 
              <i class="fa-solid fa-bars"></i>
              <img src="/img/Logo.png" alt="logo-retroWorld">
            <div class="header__top-login-shop">  
               <i class="fa-regular fa-user"></i><a href="#">Login</a>
               <i class="fa-solid fa-cart-shopping"></i><a href="#">Mi Carrito</a> 
            </div>  
            </div> 
            
            <div class="header__bar-search">
              <i class="fa-solid fa-magnifying-glass fa-lg"></i>
              <input type="text" placeholder="Buscar producto...">
            </div>
         </div>

        <div class="header__links">
          <p><a href="#">Inicio</a></p>
          <p><a href="#">Productos</a></p>
          <p><a href="#">Consolas</a></p>
          <p><a href="#">Evendrive</a></p>
          <p><a href="#">Repuestos y accesorios</a></p>
        </div>

      </header>
   
</body>
</html>