<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/94269268ef.js" crossorigin="anonymous"></script>
    <title>Carrito de cómpras</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="body__carrito">
    <header class="header">
        <div class="header__top">
            <div class="header__top-box">
                <div class="header__top--line">
                    <i class="fa-solid fa-bars"></i>
                    <img src="/img/Logo.png" alt="logo-retroWorld">
                    <div class="header__top-login-shop">
                        <i class="fa-regular fa-user"></i><a href="#">Login</a>
                        <i class="fa-solid fa-cart-shopping"></i><a href="#">Mi Carrito</a>
                    </div>
                </div>
            </div>
            <div class="header__bar-search">
                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                <input type="text" placeholder="Buscar producto...">
            </div>
        </div>

        <div class="header__links">
            <p><a href="#">Inicio</a></p>
            <p><a href="#">Productos</a></p>
            <p><a href="#">Consolas</a></p>
            <p><a href="#">Evendrive</a></p>
            <p><a href="#">Repuestos y accesorios</a></p>
        </div>
    </header>


    <div class="carrito__box-complete">
        <div class="carrito__title">
            <h1>Mi carrito</h1>
        </div>

        <main class="carrito__main">
            <section class="carrito__articles">
                <div class="carrito__box-articles">
                    <article class="carrito__articles-details">
                        <img src="/img/play-4.png" alt="foto ps4" width="200" height="200">
                        <h5>Sony PlayStation 4 Slim Standard</h5>
                    </article>
                    <div class="num__products">
                        <button type="button"><i class="fa-solid fa-minus"></i></button>
                        <h2>1</h2>
                        <button type="button"><i class="fa-solid fa-plus"></i></button>
                    </div>
                    <div class="carrito__products-precio">
                        <h4>$240.000</h4>
                        <div>
                            <button type="button"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                    </div>
                </div>
                <div class="carrito__box-articles">
                    <article class="carrito__articles-details">
                        <img src="/img/atari-8.png" alt="foto ps4" width="200" height="200">
                        <h5>Consola Atari Flashback 8</h5>
                    </article>
                    <div class="num__products">
                        <button type="button"><i class="fa-solid fa-minus"></i></button>
                        <h2>1</h2>
                        <button type="button"><i class="fa-solid fa-plus"></i></button>
                    </div>
                    <div class="carrito__products-precio">
                        <h4>$240.000</h4>
                        <div>
                            <button type="button"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                    </div>
                </div>

            </section>
        </main>
        <aside class="carrito__options">


            <div class="carrito__options--total-precio">
                <h3>Total</h3>
                <h3>$000.00</h3>
            </div>

            <div class="carrito__options-buttons">
                <div class="button__final">
                    <a href="#">Finalizar Compra</a>
                </div>
                <div class="button__continuar">
                    <a href="#">Continuar Comprando</a>
                </div>
            </div>
        </aside>

    </div>
    <footer>
        <div class="footer-logo">
            <a href="#"> <img src="img/Logo.png" alt="logo"></a>
        </div>
        <div class="footer__iconos">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="footer__secciones">
            <div class="footer-columna">
                <h3>SECCIONES</h3>
                <ul>
                    <li><a href="#"> Favoritos </a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </div>
            <div class="footer-columna">
                <h3>NEWSLETTER</h3>
                <p>Suscríbase a nuestro boletín para recibir las últimas noticias en su bandeja de entrada.</p>
                <input type="email" placeholder="Ingrese su correo electrónico">
                <button>Enviar</button>
            </div>
            <div class="footer-columna">
                <h3>ACERCA DE</h3>
                <ul>
                    <li><a href="#">Informacion</a></li>
                    <li><a href="#">Pareguntas frecientes</a></li>
                    <li><a href="#">consultas@e-retroworld.com</a></li>

                </ul>
            </div>
            <div class="footer-columna">
                <h3>MEDIOS DE PAGO</h3>
                <div class="footer__box-iconos-de-pago">
                    <div class="footer__iconos-de-pago">
                        <a href=""><img src="/img/americanexpress.png" alt="american-express"></a>
                        <a href=""><img src="/img/mastercard.png" alt="mastercard"></a>
                        <a href=""><img src="/img/mercadopago.png" alt="mercadopago"></a>
                        <a href=""><img src="/img/pagofacil.png" alt="pagofacil"></a>
                        <a href=""><img src="/img/visa.png" alt="visa"></a>
                        <a href=""><img src="/img/rapipago.png" alt="rapipago"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__ultimo">
            <div class="links">
                <a href="#">Términos y condiciones</a>
                <span>|</span>
                <a href="#">Política de privacidad</a>
            </div>
            <p>&copy; 2023 - E-retroworld - Todos los derechos reservados</p>
        </div>
    </footer>
</body>

</html>