<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/b1afb57af7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="/img/home/banner.jpg" alt=""> </div>
                <div class="swiper-slide"> <img src="/img/home/banner1.jpg" alt=""> </div>
                <div class="swiper-slide"> <img src="/img/home/banner2.jpg" alt=""> </div>
                <div class="swiper-slide"> <img src="/img/home/banner3.jpg" alt=""> </div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>


        <div class="home--categorias-consolas">
            <div class="home--categorias-consolas-logo">
                <div class="home__categorias__consolas__logo--play">
                    <i class="fa-brands fa-playstation "></i>
                </div>
            </div>

            <div class="home--categorias-consolas-logo">
                <div class="home__categorias__consolas__logo--xbox">
                    <i class="fa-brands fa-xbox "></i>
                </div>
            </div>

            <div class="home--categorias-consolas-logo">
                <div class="home__categorias__consola__logo--nintedo">
                    <i class="bi bi-nintendo-switch"></i>
                </div>


            </div>

            <div class="home--categorias-consolas-logo">
                <div class="home__categorias__consolas__logo--joystick">
                    <i class="bi bi-joystick"></i>
                </div>
            </div>

        </div>

        <div class="home--ofertas">
            <h2 c>OFERTAS DESTACADAS</h2>
        </div>
        <div class="home--productosEnOferta">

            <div class="home__productosEnOferta-producto">
                <article>
                    <img src="/img/atari-8.png" alt="" srcset="">
                    <p class="descripcion">Atari 4</p>
                    <p class="precio">10000.00$</p>
                    <input type="button" value="Agregar al carrito">
                </article>
            </div>
            <div class="home__productosEnOferta-producto">
                <img src="/img/nintendo64.png" alt="">
                <div>
                    <p class="descripcion">Nintendo 64</p>
                    <p class="precio">10000.00$</p>
                    <input type="button" value="Agregar al carrito">
                </div>
            </div>
        </div>
        <div class="home--productos">
            <h2 c>Productos</h2>
        </div>
        <div class="home__productos">
            <article>
                <img src="/img/play-4.png" alt="producto">
                <div class="home__productos-producto">
                    <p class="descripcion">playstation 4</p>
                    <p class="precio">10000.00$</p>

                    <input type="button" value="Agregar al carrito">

                </div>
            </article>
            <article>
                <img src="/img/play-4.png" alt="producto">
                <div class="home__productos-producto">
                    <p>playstation 4</p>
                    <p class="precio">10000.00$</p>
                    <input type="button" value="Agregar al carrito">
                </div>
            </article>
            <article>
                <img src="/img/play-4.png" alt="producto">
                <div class="home__productos-producto">
                    <p>playstation 4</p>
                    <p class="precio"> 10000.00$</p>
                    <input type="button" value="Agregar al carrito">
                </div>
            </article>
            <article>
                <img class="home__productos-producto" src="/img/play-4.png" alt="producto">
                <div class="home__productos-producto">
                    <p>playstation 4</p>
                    <p class="precio">10000.00$</p>
                    <input type="button" value="Agregar al carrito">
                </div>
            </article>


        </div>
        <div class="home__boton--verMas">
            <input type="button" value="Ver Mas Productos">
        </div>
    </main>
    <div class="home-botonwhatsap">
        <i  class="fa-brands fa-whatsapp fa-2xl"></i>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/js/carusel.js"></script>



</html>