.body__carrito{
    width: 100%;
    background: linear-gradient(190deg,  rgba(148,48,191,1) 0%, rgba(242,126,202,1) 50%, rgba(23,18,166,1) 100%);
    background-repeat: no-repeat;         
    background-size: cover;
}
.carrito__title{
    width:100%;
    background-color:#3d1673;
    margin:10px 0;
    padding:10px 10px;
    border:1px solid transparent; 
    box-shadow:inset 0px 0px 10px #F27ECA ,inset 0px 0px 20px #1B15BF,0px 0px 10px #fff ;
    
}

.carrito__box-articles{
    margin:0 5px;
    padding:4px 10px;
    height:100px;
    background-color:transparent;
    position:relative;
    border:1px solid transparent; 
    box-shadow:inset 0px 0px 10px #F27ECA ,inset 0px 0px 20px #1B15BF,0px 0px 10px #fff ;
    
        
}

.carrito__main{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

.carrito__articles-details img{
    width:45%;
    height:100px;
    padding:10px 15px 10px 0px;
    
}

.carrito__articles-details{
    display:flex;
    
    
    
}

.carrito__articles-details h5{
    width:20%;
    font-size:10px;
}

.carrito__articles{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.carrito__articles button{
    padding:1px;
    width:20px;
    height:20px;
    background-color:transparent;
    border:2px solid transparent;
    border-radius:100%;
    box-shadow: 0 0 20px #F27ECA,inset 0 0 20px #1B15BF,0px 0px 20px #F27ECA;
}

.num__products{
    width:70px;
    height:20px;
    display:flex;
    align-content:flex-end;
    justify-content:space-between;
    position:absolute;
    left:45%;
    bottom:8%;
    gap:10px;
       
}

.num__products h2{
    font-size:16px;
    display:flex;
    align-self:center;
}

.carrito__products-precio{
    width:100%;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column-reverse;
    align-items:end;
    position:relative;
    bottom:90px;
    gap:44px;

   

}

.carrito__products-precio h4{
    font-size:10px;
}

.carrito__options{
    margin-bottom:10px;
    height:115px;
    background-color:transparent;
    border:1px solid #fff;
    border:1px solid transparent; 
    box-shadow:inset 0px 0px 10px #F27ECA ,inset 0px 0px 20px #1B15BF,0px 0px 10px #fff ;
    width:100%;
}

.carrito__options--total-precio{
    display:flex;
    justify-content:space-between;
    padding:5px 10px;
}

.carrito__options-buttons{
    gap:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    
}

.button__final{
    width:90%;
    height:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid transparent;
    background:linear-gradient( #f27eca ,#6d0ff2);
    box-shadow:0px 1px 10px #fff, 0px  0px 20px  #1712a6, 0px  0px 20px #fff;
}


.button__continuar{
    width:90%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient( #1712a6 ,#9430bf);
    border:solid 1px #fff;
    box-shadow:0px 1px 10px #fff, 0px  0px 5px #f27eca , 0px  1px 1px #fff;
    height:30px;
}

@media (min-width:481px){
    .carrito__box-complete{
        width:100vw;
        height:100vh;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-self:flex-start;
        flex-wrap:wrap;
        gap:10px;
        
    }

    .carrito__box-articles{
        margin:0;
    }

    .carrito__articles-details img{
    width:35%;
    height:15vh;
    
}
    
    .carrito__main{
        width:60%;
        display:flex;
        flex-direction:column;
        align-self:flex-start;
        
    }

    .carrito__options{
        height:210px;
        width:30%;
        display:flex;
        flex-direction:column;
        align-self:flex-start;
    }

    .carrito__products-precio{
    display:flex;
    position:relative;
    bottom:75px;
    gap:40px;

}
    
    .carrito__products-precio h4{
    font-size:12px;  
}

    .carrito__options--total-precio{
        padding:20px;
        font-size:13px;
}
    
    .carrito__options-buttons{
        margin-top:20px;
        display:flex;
        flex-direction:column;
        justify-self:center;
        gap:20px;
    }

      .button__final{
      padding:20px 0;
    }
    
    .button__continuar{
      padding:20px 0;
      
    }

    .num__products h2{
    font-size:14px;
    }

    .num__products{
    width:30px;
    height:20px;
    left:60%;
    bottom:40%;
    gap:5px;   
    }

    .carrito__articles-details h5{
    display:flex;
    align-self:center;
    width:20%;
    font-size:10px;
    }
    
}

@media (min-width:768px){
    .carrito__main{
        width:60%;
    }

     .carrito__options h3{
         font-size:2rem;
     }
    
    .carrito__options{
        width:35%;
        display:flex;
        flex-direction:column;
        align-self:flex-start;
    }

    .carrito__box-articles{
        height:20vh;
    }

    .carrito__articles-details h5{
    display:flex;
    align-self:center;
    width:20%;
    font-size:1rem;
    }
    .carrito__products-precio h4{
    font-size:1rem;  
}
    .num__products h2{
    font-size:20px;
    }
    
    .carrito__articles-details img{
    width:40%;
    height:130px;
    
} 
    .carrito__products-precio{
    display:flex;
    position:relative;
    bottom:75px;
    gap:50px;

}
    .num__products{
    width:90px;
    height:20px;
    left:65%;
    bottom:45%;
    gap:5px;   
    }

    .carrito__products-precio{
    bottom:120px;
    gap:70px;

} 
    .carrito__options-buttons a{
        font-size:1rem;
        
    }
    
}