
body.detalleProducto{
        background: radial-gradient(circle at 10% 20%, rgb(90, 92, 106) 0%, rgb(32, 45, 58) 81.3%);
}
main.main__detalleProducto{
        margin: 2% 8%;
        
}

.main__detalleProducto__container{
        display: flex;
        flex-direction: column;
        gap: 20px;
}
.detalleProducto__container--box-nav{
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
}
.detalleProducto__container--box-nav a{
        color: #d9d9d9;
        font-size: 1rem;
        transition: all 0.5s ease;
}
.detalleProducto__container--box-nav a:first-child:hover{
        color: #fff;
}
.detalleProducto__container--box-nav a[href='/detalleProducto']{
        color: #fff;
}
.detalleProducto__container--box-nav .nav-line{
        margin-top: 18px;
        width: 100%;
        border-bottom: 1.5px solid #dfdcdc;
}
/* ------------------------------------------------------- */
.detalleProducto__container--box-product{
        display: flex;
        flex-direction: column;
        gap: 10px;
}
.box-product-img img{
        width: 100%;
}
.detalleProducto__container--box-product h2{
        order: -1;
        color: #fff;
        font-size: 20px;
        text-align: center;
        text-shadow: 0 3px rgba(128, 128, 128, 0.103);
}
.product-info-stock{
        display: flex;
}
.product-info-stock span:first-child{
        padding: 4px 10px;
        background-color: #dfdcdc;
}
.product-info-stock span:last-child{
        padding: 4px 10px;
        background-color: violet;
        color: #fff;
}
.product-info-price{
        margin-top: 20px;
}
.product-info-price p:first-child{
        color: #fff;
        font-size: 23px;
}
.product-info-price p:last-child{
        color: #dfdcdc;
        font-size: 23px;
        margin-top: 10px;
}
.product-info-price p:last-child span{
        font-size: 15px;
}
/* --------------------------------------------------- */
.box-detail-info h4{
        color: #dfdcdc;
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 18px;
        text-transform: uppercase;
}
.box-detail-info table{
        border: 1px solid #fff;
        width: 100%;
        border-collapse:collapse;
        width: 100%;
        /* box-shadow: 0 0 4px violet, 0 0 4px violet, 0 0 4px violet; */
}
.box-detail-info table td{
        /* box-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff; */
        border: 1px solid #fff;
        text-align: center;
        padding: 15px 10px;
        color: #dfdcdc;
}
.box-detail-add{
        margin-top: 15px;
        display: flex;
        position: relative;
}
.box-detail-add input[type=number]{
        width: 25%;
        height: 50px;
        border: none;
        background-color: transparent;
        border: 2px solid violet;
        color: #fff;
        border-radius: 6px;
        text-align: center;
        outline: none;
        font-size: 15px;
}
.box-detail-add input[type=number]::-webkit-inner-spin-button, 
.box-detail-add input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
}

.box-detail-angle{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
}
.box-detail-angle i{
        color: #fff;
}
.box-detail-angle i:hover{
        color: violet;
        /* text-shadow: 0 0 4px #ee82ee, 0 0 4px violet, 0 0 4px violet; */
}

.box-detail-add button{
        width: 50%;
        height: 50px;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        border-radius: 6px;
        background-color: blueviolet;
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.5s ease;
        border: 2px solid blueviolet;
}
.box-detail-add button:hover{
        /* box-shadow: 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff; */
        /* background-color: violet; */
        background-color: transparent;
        color: blueviolet;
}
/* -------------------------------------------------- */
.detalleProducto__container--box-delivery{
        display: flex;
        flex-direction: column;
        gap: 15px;
}
.detalleProducto__container--box-delivery h4{
        color: #fff;
        font-size: 18px;
        font-weight: 100;
}
.box-delivery{
        display: flex;
}
.box-delivery i{
        color: #dfdcdc;
        font-size: 25px;
        width: 30px;
        margin-right: 15px;
}
.box-delivery-points-text{
        flex-grow: 1;  
        /* display: flex; */
        /* flex-direction: column; */
        color: #fff;
}
.box-delivery div a{
        margin-top: 10px;
        color: #3a71ff;
        text-align: end;
} 
/* ----------------------------------------------------------- */
.detalleProducto__container--box-link{
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
}
.detalleProducto__container--box-link h4{
        color: #fff;
        font-size: 18px;
        font-weight: 100;
        width: 100%;
}
.detalleProducto__container--box-link div{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 30%;
}
.detalleProducto__container--box-link img{ 
        width: 100%;
}
/* ----------------------------------------------------------- */
.detalleProducto__container--box-description h4{
        margin: 20px 0;
        font-weight: 100;
        font-size: 18px;
        color: #fff;

}
.detalleProducto__container--box-description p{
        text-align: center;
        font-size: 16px;
        color: #d9d9d9;
}
@media (min-width:481px) {
        .box-product-img img{
                /* width: none; */
        }
        .detalleProducto__container--box-nav a{
                /* color: #d9d9d9; */
                font-size: 1.5rem;
        }
        .detalleProducto__container--box-nav .nav-line{
                margin-top: 21px;
                border-bottom: 1.5px solid #dfdcdc;
        }
        .detalleProducto__container--box-product h2{
                font-size: 1.5rem;
        }
        .box-product-info{
                display: flex;
                align-items: end;
                justify-content: space-between;
        }
        /* ----------------------------------- */
        .detalleProducto__container--box-detail{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
        }
        .box-detail-info{
                width: 100%;
                padding: 0 15%;
        }
        .box-detail-info h4{
                text-align: center;
        }
        .box-detail-add{
                width: 50%;
        }
        /* ------------------------------------ */
        .detalleProducto__container--box-link div{
                gap: 25px;
                width: 20%;
        }
        .detalleProducto__container--box-link img{ 
                width: 100%;
                /* background-color: red; */
                /* background-color: #3a71ff; */
                
        }
        /* ------------------------------------------- */
        .detalleProducto__container--box-description p{
                text-align: start;
        }
}
/* vista Desktop */
@media (min-width:769px) {
        .detalleProducto__container--box-product{
                display: grid;
                grid-template-columns: 32% 45%;
                position: relative;
                justify-content: space-around;
                /* gap: 20px; */
                /* background-color: #3a71ff; */
        }
        .box-product-img{
                grid-row: 1/ span 2;
                width: 100%;
                /* background-color: rebeccapurple; */
        }
        .detalleProducto__container--box-product h2{
                order: 0;
                /* background: blue; */
                /* width: 45%; */
                font-size: 1.8rem;
                color: #fff;
        }
        .box-product-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                /* position: absolute;
                bottom: 0;
                right: 8%; */
        }

        .detalleProducto__container--box-detail{
                justify-content: space-around;
        }
        .box-detail-info{
                width: 40%;
                padding: 0;
        }
        .box-detail-info table td{
                /* border: 1px solid #4c4c4c; */
                text-align: center;
                padding: 20px 10px;
                /* border-spacing: 0; */
        }
        .box-detail-add{
                width: 30%;
        }
        .box-detail-add button{
                position: relative;
        }
        .box-detail-add{
                display: flex;
                align-items: center;
                justify-content: space-between;
        }
        /* -------------------------------- */
        .detalleProducto__container--box-delivery{
                padding: 0 18%;
        }
        /* ------------------------------ */
        .detalleProducto__container--box-link{
                padding: 0 18%;
                /* background-color: red; */
                justify-content: start;
                align-items: center;
                /* flex-wrap: nowrap; */
        }
        .detalleProducto__container--box-link h4{
                width: auto;
        }
        .detalleProducto__container--box-link div{
                width: auto;
                justify-content: start;
                gap: 15px;
                width: 20%;
        }
        .detalleProducto__container--box-link div a{ 
                /* width: 20%; */
                justify-content: start;
        }
        .detalleProducto__container--box-link div a img{ 
                width: 100%;
                justify-content: start;
        }
}

