* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --colorTitulos_Iconos:rgb(229, 229, 229);
    --colorFondoProducto:rgb(252, 252, 252);
    --colorFondoTitulo:#262729;

}

.home--body {
    background-color: #202324;
}


/* !ICONOS DE CONSOLAS */

.swiper{
    display: none;
}

.home--categorias-consolas {
    width: 100%;
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;
}
.home--categorias-consolas-logo {
    height: 100%;
    width: 55px;
    margin: 0 10px;
}

.home--categorias-consolas-logo img {
    width: 100%;
    height: 100%;

}
.home--categorias-consolas {
    align-items: center;
}

.home--categorias-consolas-logo i {
    font-size: 4rem;
    color:var(--colorTitulos_Iconos);
}

.home__categorias__consolas__logo--play:hover {
    text-shadow: 0 0 20px #1B15BF, 0 0 20px #1B15BF, 0 0 20px #1B15BF;
    transition-delay: 0.1s;
    cursor: pointer;
}

.home__categorias__consolas__logo--xbox:hover {
    text-shadow: 0 0 20px green, 0 0 20px green, 0 0 20px green;
    transition-delay: 0.1s;
    cursor: pointer;
}


.home__categorias__consola__logo--nintedo:hover{
    text-shadow: 0 0 20px red, 0 0 20px red, 0 0 20px red ;
    transition-delay: 0.1s;
    cursor: pointer;
}


.home__categorias__consolas__logo--joystick:hover{
    
    text-shadow: 0 0 20px yellow, 0 0 20px yellow, 0 0 20px yellow;
    transition-delay: 0.1s;
    cursor: pointer;
}





/* !SECCION OFERTAS */
.home--ofertasTitulo, .home--productosTitulo{
    text-align: center;
    padding: 20px 0;
    color:var(--colorTitulos_Iconos);
    margin: 25px 0;
    background-color:var(--colorFondoTitulo);
}
.home--productosTitulo {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}
.home--productosEnOferta{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.home__productosEnOferta-producto{
    width: 40%;
}
.home__productosEnOferta-producto img{
    width: 100%;
}


/* !HOME PRODUCTOS */

.home__producto {
    width: 100%;
}

.home__productos-producto {
    width: 100%;
    
}
.home__productos--article{
    margin: 30px auto;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
}
.home__productos-producto , .home__productosEnOferta-producto {
    border-radius: 5px;
    text-align: center;
    background-color: rgb(252, 252, 252);;
}
.home__productos img {
    width: 100%;
    height: 180px;
    /* background-color: rgb(252, 252, 252); */
   border-bottom: solid 1px grey;
}

.home__productos-producto input,.home__productosEnOferta-producto input{
    padding: 15px 0 15px 0;
    width: 90%;
    border-radius: 4px;
    background-color: #5b21a5;
    border-style: none;
    margin: 10px 0;
    color: white;
}



.home__productos-producto .precio ,.home__productosEnOferta-producto .precio {
    color: rgb(17 125 16);
   
}

.home__productos-producto .descripcion ,.home__productosEnOferta-producto .descripcion {
    color: #c1bcb4;
}
.descripcion {
    height: 35px;
}

.home__boton--verMas {
    text-align: center;
    margin: 30px 25%;
}

.home__boton--verMas input{
    width: 100%;
    background-color: #5b21a5;
    border-radius: 4px;
    color: white;
    display: inline-block;
    padding: 10px;
    border-style: none;
}
.home-botonwhatsap{
    display: inline-block;
    color: rgb(37,211,102);
    position: fixed;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    font-size: 40px;
}
@media (min-width:481px) {
    .swiper{
        display: block;
    }
    
    .home__productos {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .home__productos--article {

        margin: 0;
        width: 45vw;
        height: 100%;
        margin: 20px 0;
    }
}
@media (min-width:800px) {

    /* !Home */
    .home__productos {
        display: flex;
        justify-content: space-around;
    }

    .home__productos--article {
        width: 23vw;
        height: 100%;
        margin: 20px 0;
    }
}