* {
    margin: 0%;
    box-sizing: border-box;
}

.registerBody{
    background : radial-gradient(circle at 10% 20%, rgb(90, 92, 106) 0%, rgb(32, 45, 58) 81.3%);
}
.form__registro {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background : radial-gradient(circle at 10% 20%, rgb(90, 92, 106) 0%, rgb(32, 45, 58) 81.3%);
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.avatar2{
    display: flex;
    justify-content: center;
    align-items: center;
     
   
}
.avatar {
    height:160px;
    width: 160px;
    border-radius: 50%;
    
    top: 150px;
    margin-bottom: 15px;
}

.form-box  {
    margin: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: inset 0px 0px 3px #fff, inset 0px 0px 20px #3D1673, 0px 0px 3px #fff;
    
    
}


.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.form-box form {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
}

.form-box .form-input {
    flex-basis: 47%; 
    margin-bottom: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: column; 
}



.form-box label {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="password"],
.form-box input[type="date"],

.form-box select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%; 
}

.form-box input[type="number"]{
    height: 45px;
    border-radius: 5px;
}
.form-box input::placeholder { 
    color: black; 
}

.form-box .form-checkbox {
    flex-basis: 100%; 
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.form-box .form-checkbox input {
    margin-right: 10px;
}

.form-box .form-submit-button, a.cancel {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
#fichero {
    display: none;
}
.form-boton-foto {
    display: inline-block;
    background-color: blueviolet;
    width: 100%;
    cursor: pointer;
    height: 38px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
        
}
.form-foto {
    display: flex;
    width: 97%;
    margin-top: 18px;
}
.form-input-textArea {
    width: 97%; 
    margin-bottom: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.form-box button, a.cancel {
    padding: 10px 20px;
    background-color: transparent;
    color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid blueviolet;
   
    width: 100%;
    transition: all 1s ease;

   
}
.form-box button:hover,a.cancel:hover {
    
    background-color: blueviolet;
    color: white;     
        
}



.form-box .form-link {
    text-align: center;
    margin-top: 10px;
}
.form__link {
    color: white;
    font-size: 17px;
    font-weight: bold;
}
.botones{
    width: 100%;
}
.form-submit-button1{
    width: 100%;
}


@media (min-width: 481px) {
    .form-box form {
        display: flex;
        flex-direction: row;
    }
    
    .form-box {
        margin: 50px;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.0);
        border-radius: 10px;
        padding: 20px;
        
        box-shadow: inset 0px 0px 3px #fff, inset 0px 0px 20px #3D1673, 0px 0px 3px #fff;
        
    }
    
    .avatar{
        width: 183px;
        margin-top: 15px;
    }
    
}

@media (min-width: 769px) {
    .form-box form {
        display: flex;
        flex-direction: row;
    }
    
    .form-box {
        max-width: 800px;
                
    }
    .form-foto {
        display: flex;
        width: 48%;
        margin-top: 18px;
    }
    .botones {
        display: flex;
        flex-direction: column;
        width: 97%;
        justify-content: center;
        align-items: center;
        
    }
    form-submit-button1 {
        display: flex;
        align-items: center;
    }
    
    a.cancel {
        margin-top: 8px;
    }
    .avatar{
        height: 200px;
        top: 265px;
        width: 200px;
        top: 180px;
    }
}
