<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head',{title:"Panel de Admin"}) %>
<body class="detalleProducto">
    <%- include('partials/header',{title:"Panel de Admin"}) %>

      <main class="login__main">
        <div class="login__mi-cuenta">
            <p>Panel Admin</p>
        </div>
        <div class="login-box">
            <form action="/login" method="POST">
                
                <p class="login-registra-entrar">
                    <a href="/products/add"><button type="button" class="login-button">Crear Producto</button></a>
                    <a href="/products/edit"><button type="button" class="login-button">Editar Producto</button></a>
                </p>
                


            </form>

        </div>
        </main>
        <%- include('partials/footer') %>
</body>
</html>