<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{
        title: 'Detalle de Producto'
}) %>
<body class="detalleProducto">
    <%- include('partials/header') %>
    <main class="main__detalleProducto">
        <div class="main__detalleProducto__container">
            <div class="detalleProducto__container--box-nav">
                <a href="/">Inicio</a>
                <i class="fa-solid fa-angle-right"></i>
                <a href="/products/detail">Xbox</a>
                <div class="nav-line"></div>
            </div>
            <div class="detalleProducto__container--box-product">
                <div class="box-product-img">
                    <img src="/img/xbox-one-s.png" width="400" alt="">
                </div>
                <h2>
                    Consola Xbox One S 500gb + Joysticks + 3 Meses de Game Pass
                </h2>
                <div class="box-product-info">
                    <div class="product-info-stock">
                        <span>Stock</span>
                        <span>Disponible</span>
                    </div>
                    <div class="product-info-price">
                        <p>$ 142.620</p>
                        <p>o 6 x $34.228,28 <span>c/iva</span></p>
                    </div>
                </div>
            </div>

            <div class="detalleProducto__container--box-detail">
                <div class=" box-detail-info">
                    <h4>Detalles</h4>
                    <table>
                        <tr>
                            <td>Marca</td>
                            <td>Microsoft</td>
                        </tr>
                        <tr>
                            <td>Código</td>
                            <td>1118822</td>
                        </tr>
                    </table>
                </div>
                <div class="box-detail-add">
                    <input type="number" id="cantador" placeholder="">
                    <div class="box-detail-angle">
                        <a href="#"><i class="fa-solid fa-angle-up"></i></a>
                        <a href="#"><i class="fa-solid fa-angle-down"></i></a>
                    </div>
                    <button type="button">comprar</button>
                </div>
            </div>
            <div class="detalleProducto__container--box-delivery">
                <h4>Metodos de envío y retiro</h4>
                <div class="box-delivery box-delivery-detail">
                    <!-- <div class="box-delivery-points-icon">
                    </div> -->
                    <i class="fa-solid fa-truck"></i>
                    <div class="box-delivery-points-text">
                        <p>Envíos gratis a partir de $50.000,00 (a todo el país)</p>
                        <a href="#">ver más</a>
                    </div>
                </div>
                <div class="box-delivery box-delivery-points">
                    <!-- <i class="fa-solid fa-location-dot"></i> -->
                    <!-- <div class="box-delivery-points-icon">
                    </div> -->
                    <i class="fa-solid fa-store"></i>
                    <div class="box-delivery-points-text">
                        <p>Retiro en nuestro local</p>
                        <span>Retira tu compra en uno de nuestros locales</span>
                        <a href="#">ver sucursales</a>
                    </div>
                </div>
            </div>
            <div class="detalleProducto__container--box-link">
                <h4>Compartí este producto en:</h4>
                <!-- <div class="box-link-icon">
                </div> -->
                <div>
                    <a href="#"><img src="/img/facebook-icon.png" alt=""></a>
                    <a href="#"><img src="/img/whatsapp-icon.png" alt=""></a>
                </div>
            </div>
            <div class="detalleProducto__container--box-description">
                <h4>Descripción del Producto</h4>
                <p>
                    Se considera que esta consola es de las mejores dentro del mercado, dado que representa una resolución de hasta 4k.
                    Microsoft Xbox One S ofrece impresionantes gráficos, sonido de primer nivel e incluso la posibilidad de guardar todas sus partidas en la nube.
                    Adaptada a tus necesidades, guarda tus apps, fotos, videos y muchos más en el disco duro que cuenta con una capacidad de 500 y 1 tera, al contar con un procesador de 8 nucleos, brinda una experiencia dinámica, respuestas agiles y transisiones fluidas de imágenes de alta definición. Por otro lado tiene puerto USB y salida HDMI, que permiten conectar accesorios y cargar la bateria de tu control mientras jugás. Vas a poder reproducir música, ver tus peliculas y series favoritas a través de las aplicaciones descargables.
                </p>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>