<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle producto</title>
    <script src="https://kit.fontawesome.com/94269268ef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="detalleProducto">
    <header class="header">
        <div class="header__top">
          <div class="header__top-box">
            <div class="header__top--line"> 
              <i class="fa-solid fa-bars"></i>
              <a href="/"><img src="/img/Logo.png" alt="logo-retroWorld"></a>
              <div class="header__top-login-shop">  
                <a href="/users/login"><i class="fa-regular fa-user"></i><span>Login</span></a>
                <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i><span>Mi Carrito</span></a> 
              </div> 
            </div> 
          </div>  
          <div class="header__bar-search">
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            <input type="text" placeholder="Buscar producto...">
          </div>
        </div>
    
        <div class="header__links">
            <p><a href="/">Inicio</a></p>
            <p><a href="#">Productos</a></p>      
            <p><a href="#">Consolas</a></p>
            <p><a href="/admin">Admin</a></p>
            <p><a href="#">Repuestos y accesorios</a></p>
          </div>
      </header>

    <main class="main__detalleProducto">
        <div class="main__detalleProducto__container">
            <div class="detalleProducto__container--box-nav">
                <a href="/">Inicio</a>
                <i class="fa-solid fa-angle-right"></i>
                <a href="/products/detail">Xbox</a>
                <div class="nav-line"></div>
            </div>
            <div class="detalleProducto__container--box-product">
                <div class="box-product-img">
                    <img src="/img/xbox-one-s.png" width="400" alt="">
                </div>
                <h2>
                    Consola Xbox One S 500gb + Joysticks + 3 Meses de Game Pass
                </h2>
                <div class="box-product-info">
                    <div class="product-info-stock">
                        <span>Stock</span>
                        <span>Disponible</span>
                    </div>
                    <div class="product-info-price">
                        <p>$ 142.620</p>
                        <p>o 6 x $34.228,28 <span>c/iva</span></p>
                    </div>
                </div>
            </div>

            <div class="detalleProducto__container--box-detail">
                <div class=" box-detail-info">
                    <h4>Detalles</h4>
                    <table>
                        <tr>
                            <td>Marca</td>
                            <td>Microsoft</td>
                        </tr>
                        <tr>
                            <td>Código</td>
                            <td>1118822</td>
                        </tr>
                    </table>
                </div>
                <div class="box-detail-add">
                    <input type="number" id="cantador" placeholder="">
                    <div class="box-detail-angle">
                        <a href="#"><i class="fa-solid fa-angle-up"></i></a>
                        <a href="#"><i class="fa-solid fa-angle-down"></i></a>
                    </div>
                    <button type="button">comprar</button>
                </div>
            </div>
            <div class="detalleProducto__container--box-delivery">
                <h4>Metodos de envío y retiro</h4>
                <div class="box-delivery box-delivery-detail">
                    <!-- <div class="box-delivery-points-icon">
                    </div> -->
                    <i class="fa-solid fa-truck"></i>
                    <div class="box-delivery-points-text">
                        <p>Envíos gratis a partir de $50.000,00 (a todo el país)</p>
                        <a href="#">ver más</a>
                    </div>
                </div>
                <div class="box-delivery box-delivery-points">
                    <!-- <i class="fa-solid fa-location-dot"></i> -->
                    <!-- <div class="box-delivery-points-icon">
                    </div> -->
                    <i class="fa-solid fa-store"></i>
                    <div class="box-delivery-points-text">
                        <p>Retiro en nuestro local</p>
                        <span>Retira tu compra en uno de nuestros locales</span>
                        <a href="#">ver sucursales</a>
                    </div>
                </div>
            </div>
            <div class="detalleProducto__container--box-link">
                <h4>Compartí este producto en:</h4>
                <!-- <div class="box-link-icon">
                </div> -->
                <div>
                    <a href="#"><img src="/img/facebook-icon.png" alt=""></a>
                    <a href="#"><img src="/img/whatsapp-icon.png" alt=""></a>
                </div>
            </div>
            <div class="detalleProducto__container--box-description">
                <h4>Descripción del Producto</h4>
                <p>
                    Se considera que esta consola es de las mejores dentro del mercado, dado que representa una resolución de hasta 4k.
                    Microsoft Xbox One S ofrece impresionantes gráficos, sonido de primer nivel e incluso la posibilidad de guardar todas sus partidas en la nube.
                    Adaptada a tus necesidades, guarda tus apps, fotos, videos y muchos más en el disco duro que cuenta con una capacidad de 500 y 1 tera, al contar con un procesador de 8 nucleos, brinda una experiencia dinámica, respuestas agiles y transisiones fluidas de imágenes de alta definición. Por otro lado tiene puerto USB y salida HDMI, que permiten conectar accesorios y cargar la bateria de tu control mientras jugás. Vas a poder reproducir música, ver tus peliculas y series favoritas a través de las aplicaciones descargables.
                </p>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-logo">
            <a href="/"> <img src="/img/Logo.png" alt="logo"></a>
        </div>
        <div class="footer__iconos">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="footer__secciones">
            <div class="footer-columna">
                <h3>SECCIONES</h3>
                <ul>
                    <li><a href="#"> Favoritos </a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </div>
            <div class="footer-columna">
                <h3>NEWSLETTER</h3>
                <p>Suscríbase a nuestro boletín para recibir las últimas noticias en su bandeja de entrada.</p>
                <input type="email" placeholder="Ingrese su correo electrónico">
                <button>Enviar</button>
            </div>
            <div class="footer-columna">
                <h3>ACERCA DE</h3>
                <ul>
                    <li><a href="#">Informacion</a></li>
                    <li><a href="#">Pareguntas frecientes</a></li>
                    <li><a href="#">consultas@e-retroworld.com</a></li>
                </ul>
            </div>
            <div class="footer-columna">
                <h3>MEDIOS DE PAGO</h3>
                <div class="footer__box-iconos-de-pago">
                <div class="footer__iconos-de-pago">
                    <a href=""><img src="/img/americanexpress.png" alt="american-express"></a>
                    <a href=""><img src="/img/mastercard.png" alt="mastercard"></a>
                    <a href=""><img src="/img/mercadopago.png" alt="mercadopago"></a>
                    <a href=""><img src="/img/pagofacil.png" alt="pagofacil"></a>
                    <a href=""><img src="/img/visa.png" alt="visa"></a>
                    <a href=""><img src="/img/rapipago.png" alt="rapipago"></a>
                </div>
            </div>
            </div>
        </div>
        <div class="footer__ultimo">
            <div class="links">
                <a href="#">Términos y condiciones</a>
                <span>|</span>
                <a href="#">Política de privacidad</a>
            </div>
            <p>&copy; 2023 - E-retroworld - Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>