<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{
    title:'404'
}) %>
<body class="error">
    <section class="wrapper">
        <div class="container">
            <div id="scene" class="scene" data-hover-only="false">
                <div class="circle" data-depth="1.2"></div>

                <div class="one" data-depth="0.9">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <div class="two" data-depth="0.60">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <div class="three" data-depth="0.40">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <p class="p404" data-depth="0.50">404</p>
                <p class="p404" data-depth="0.10">404</p>
            </div>

            <div class="text">
                <article>
                    <p>
                        La página que intentas solicitar no está en el servidor
                        (Error 404)
                    </p>
                    <a href="/">HOME</a>
                </article>
            </div>
        </div>
    </section>
    <script src="/js/error.js"></script>
</body>

</html>