<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/94269268ef.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="header__top">
            <div class="header__top-box">
                <div class="header__top--line">
                    <i class="fa-solid fa-bars"></i>
                    <a href="/"><img src="/img/Logo.png" alt="logo-retroWorld"></a>
                    <div class="header__top-login-shop">
                        <a href="/users/login"><i class="fa-regular fa-user"></i><span>Login</span></a>
                        <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i><span>Mi Carrito</span></a>
                    </div>
                </div>
            </div>
            <div class="header__bar-search">
                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                <input type="text" placeholder="Buscar producto...">
            </div>
        </div>

        <div class="header__links">
            <p><a href="/">Inicio</a></p>
            <p><a href="#">Productos</a></p>
            <p><a href="#">Consolas</a></p>
            <p><a href="/admin">Admin</a></p>
            <p><a href="#">Repuestos y accesorios</a></p>
        </div>
    </header>
    <main class="form__main">
        <!-- REGISTRO -->
        <section class="form__registro">
            <div class="form-box">
                <h2>Editar Producto</h2>
                <form action="" method="POST">
                    <div class="form-input">
                        <label for="titulo">Titulo:</label>
                        <input type="text" id="titulo" placeholder="Titulo del producto" name="titulo">
                    </div>
                    <div class="form-input">
                        <label for="categoria">Categoria:</label>
                        <select id="categoria" name="categoria" required>
                            <option selected hidden>Seleccione...</option>
                            <option value="arcade">Arcade</option>
                            <option value="playstation">Playstation</option>
                            <option value="xbox">Xbox</option>
                            <option value="Nintendo">Nintendo</option>
                        </select>

                    </div>
                    <div class="form-input">
                        <label for="tipo">Tipo de Producto:</label>
                        <select id="tipo" name="tipo" required>
                            <option selected hidden>Seleccione...</option>
                            <option value="retro">Retro</option>
                            <option value="actual">Actual</option>
                        </select>
                    </div>
                    <div class="form-foto">
                        <input id="fichero" type="file">
                        <label for="fichero" class="form-boton-foto" type="button" name="fichero" value="Subi tu foto">Subi tu foto
                        </label>
                    </div>
                    <div class="form-input">
                        <label for="precio">Precio:</label>
                        <input type="number" id="precio" placeholder="$ 0.00" name="precio">
                    </div>
                    <div class="form-input">
                        <label for="promo">Precio promocional:</label>
                        <input type="number" id="promo" placeholder="$ 0.00" name="promo">
                    </div>
                    <div class="form-input-textArea">
                        <label for="descripcion">Descripcion:</label>
                        <textarea id="descripcion" rows="4" cols="50" placeholder="Describe tu producto..." name="descripcion"></textarea>
                        
                    </div>
                    <div class="form-input form-checkbox">
                        <input type="checkbox" id="accept-terms" name="accept-terms" required>
                        <label for="accept-terms">Acepto las Políticas de privacidad, Términos y Condiciones</label>
                    </div>
                    
                    <div class="form-submit-button">
                        <button type="submit">Editar producto</button>
                    </div>
                </form>
               <!--  <div class="form-link">
                    <a class="form__link" href="#">¿Deseas editar un producto? click aqui</a>
                </div> -->
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-logo">
            <a href="/"> <img src="/img/Logo.png" alt="logo"></a>
        </div>
        <div class="footer__iconos">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="footer__secciones">
            <div class="footer-columna">
                <h3>SECCIONES</h3>
                <ul>
                    <li><a href="#"> Favoritos </a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </div>
            <div class="footer-columna">
                <h3>NEWSLETTER</h3>
                <p>Suscríbase a nuestro boletín para recibir las últimas noticias en su bandeja de entrada.</p>
                <input type="email" placeholder="Ingrese su correo electrónico">
                <button>Enviar</button>
            </div>
            <div class="footer-columna">
                <h3>ACERCA DE</h3>
                <ul>
                    <li><a href="#">Informacion</a></li>
                    <li><a href="#">Pareguntas frecientes</a></li>
                    <li><a href="#">consultas@e-retroworld.com</a></li>

                </ul>
            </div>
            <div class="footer-columna">
                <h3>MEDIOS DE PAGO</h3>
                <div class="footer__box-iconos-de-pago">
                    <div class="footer__iconos-de-pago">
                        <a href=""><img src="/img/americanexpress.png" alt="american-express"></a>
                        <a href=""><img src="/img/mastercard.png" alt="mastercard"></a>
                        <a href=""><img src="/img/mercadopago.png" alt="mercadopago"></a>
                        <a href=""><img src="/img/pagofacil.png" alt="pagofacil"></a>
                        <a href=""><img src="/img/visa.png" alt="visa"></a>
                        <a href=""><img src="/img/rapipago.png" alt="rapipago"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__ultimo">
            <div class="links">
                <a href="#">Términos y condiciones</a>
                <span>|</span>
                <a href="#">Política de privacidad</a>
            </div>
            <p>&copy; 2023 - E-retroworld - Todos los derechos reservados</p>
        </div>
    </footer>

</body>

</html>