<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{title:"Crear Producto"}) %>

<body>
    <%- include('partials/header',{title:"Crear Producto"}) %>
    <main class="form__main">
        <!-- REGISTRO -->
        <section class="form__registro">
            <div class="form-box2">
                <h2>Agregar Producto</h2>
                <form action="" method="POST">
                    <div class="form-input">
                        <label for="titulo">Titulo:</label>
                        <input type="text" id="titulo" placeholder="Titulo del producto" name="titulo">
                    </div>
                    <div class="form-input">
                        <label for="categoria">Categoria:</label>
                        <select id="categoria" name="categoria" required>
                            <option selected hidden>Seleccione...</option>
                            <option value="arcade">Arcade</option>
                            <option value="playstation">Playstation</option>
                            <option value="xbox">Xbox</option>
                            <option value="Nintendo">Nintendo</option>
                        </select>

                    </div>
                    <div class="form-input">
                        <label for="tipo">Estado:</label>
                        <select id="tipo" name="tipo" required>
                            <option selected hidden>Seleccione...</option>
                            <option value="in-sale">En Oferta</option>
                            <option value="visited">Ultima visita</option>
                        </select>
                    </div>
                    <div class="form-foto">
                        <input id="fichero" type="file">
                        <label for="fichero" class="form-boton-foto" type="button" name="fichero" value="Subi tu foto">Subi tu foto
                        </label>
                    </div>
                    <div class="form-input">
                        <label for="precio">Precio:</label>
                        <input type="number" id="precio" placeholder="$ 0.00" name="precio">
                    </div>
                    <div class="form-input">
                        <label for="discount">Descuento:</label>
                        <input type="number" id="discount" placeholder="% 0" name="discount">
                    </div>
                    <div class="form-input-textArea">
                        <label for="descripcion">Descripcion:</label>
                        <textarea id="descripcion" rows="4" cols="50" placeholder="Describe tu producto..." name="descripcion"></textarea>
                        
                    </div>
                    <div class="form-submit-button2">
                        <button type="submit">Cancelar</button>
                        <button type="submit">Crear producto</button>
                    </div>
                </form>
                <div class="form-link">
                    <a class="form__link" href="#">¿Deseas editar un producto? click aqui</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <%- include('partials/footer')%>

</body>

</html>