<header class="header">
  <div class="header__top">
    <div class="header__top-box">
      <div class="header__top--line"> 
        <i class="fa-solid fa-bars"></i>
        <a href="/"><img src="/img/Logo.png" alt="logo-retroWorld"></a>
        <div class="header__top-login-shop">  
          <% if (locals.userLogin) { %>
            <div class="profile">
              <a href="#"><i class="fa-regular fa-user"></i><span><%= userLogin.firstName %></span></a>
              <ul>
                <li><a href="/users/UserProfile">Profile</a></li>
                <li><a href="/users/logout">Salir</a></li>
              </ul>
            </div>
          <% } else {%>
            <a href="/users/login"><i class="fa-regular fa-user"></i><span>Login</span></a>
          <% } %>
          <a href="/cart"><i class="fa-solid fa-cart-shopping"></i><span>Mi Carrito</span></a> 
        </div> 
      </div> 
    </div>  
    <div class="header__bar-search">
      <form action="/search" method="GET">
        <button type="submit" class="search-form_button"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
        <input type="text" name="keywords" placeholder="Buscar producto...">
      </form>
    </div>
  </div>
  <div class="header__links">
    <p><a href="/">Inicio</a></p>
    <p><a href="/products/products">Productos</a></p>      
    <p><a href="/products/consoles">Consolas</a></p>
    <% if (locals.userLogin && userLogin.roleId == 1) { %>
      <p><a href="/admin">Admin</a></p>
    <% } %>
    <p><a href="/products/accessories">Repuestos y accesorios</a></p>
  </div>
</header>