<header class="header">
  <div class="header__top">
    <div class="header__top-box">
      <div class="header__top--line"> 
        <i class="fa-solid fa-bars"></i>
        <a href="/"><img src="/img/Logo.png" alt="logo-retroWorld"></a>
        <div class="header__top-login-shop">  
          <a href="/users/login"><i class="fa-regular fa-user"></i><span>Login</span></a>
          <a href="/cart"><i class="fa-solid fa-cart-shopping"></i><span>Mi Carrito</span></a> 
        </div> 
      </div> 
    </div>  
    <div class="header__bar-search">
      <i class="fa-solid fa-magnifying-glass fa-lg"></i>
      <input type="text" placeholder="Buscar producto...">
    </div>
  </div>
  <div class="header__links">
    <p><a href="/">Inicio</a></p>
    <p><a href="/products/products">Productos</a></p>      
    <p><a href="#">Consolas</a></p>
    <p><a href="/admin">Admin</a></p>
    <p><a href="#">Repuestos y accesorios</a></p>
  </div>
</header>