<div class="home--categorias-consolas">
    <div class="home--categorias-consolas-logo">
        <div class="home__categorias__consolas__logo--play">
            <a href="/search?keywords=playstation"><i class="fa-brands fa-playstation "></i></a>
        </div>
    </div>

    <div class="home--categorias-consolas-logo">
        <div class="home__categorias__consolas__logo--xbox">
            <a href="/search?keywords=xbox" ><i class="fa-brands fa-xbox "></i></a>
        </div>
    </div>

    <div class="home--categorias-consolas-logo">
        <div class="home__categorias__consola__logo--nintedo">
            <a href="/search?keywords=nintendo" ><i class="bi bi-nintendo-switch"></i></a>
        </div>


    </div>

    <div class="home--categorias-consolas-logo">
        <div class="home__categorias__consolas__logo--joystick">
            <a href="/search?keywords=retro %>"><i class="bi bi-joystick"></i></a>
        </div>
    </div>

</div>