<article>
    <a href="/products/detail/<%= id %>"><img src="/img/products/<%= image || 'default-img.png' %>" alt="producto"></a>
    <p class="descripcion"><%= name %></p>
    <p class="precio">$<%= toThousand((price - (price * discount / 100)).toFixed(0)) %></p>
    <input type="button" value="Agregar al carrito">
</article>